/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fcfafc;
  color: #222;
  font-size: 22px;
  line-height: 32px;
  font-family: ff-meta-web-pro, Helvetica, Arial, sans-serif;
}

.meta {
  font-family: adelle, serif;
}

h1, h2, h3, h4, h5 {
  font-family: "adelle-n1", adelle, serif;
  font-weight: normal;
}

h1 {font-size: 42px;}
h2, h3 {font-size: 32px;}


h1, h2, h3, h4, h5 {line-height: 64px;}

h1 { margin: 24px 0px; }
p { margin: 1em 0; }

a         { color: #8000b3; text-decoration: none;}
a:hover   { color: #8000b3; text-decoration: underline; }
a:visited { color: #7500a3; }

table {
  font-size: inherit;
  font: 100%;
}


.container {
  max-width: 750px;
  min-width: 600px;
  margin: 0px auto;
  padding: 0 2em 2em 2em;
}

ul {
  margin-left: 1.5em;
}

img {
  max-width: 100%;
}

.post img {
  float: right;
  margin: 0px 0px 24px 24px;
}

.post img.retinize {
  width: 150px;
}

.main-navigation {
  text-align: center;
  list-style: none;
  margin-left: 0;
  margin: 24px 0px;
  border-left: 1px solid #a800ea;
  border-right: 1px solid #a800ea;
  font-family: "adelle-n1", adelle, serif;
}

.footer {
  font-family: adelle, serif;
  border-left: 1px solid #a800ea;
  border-right: 1px solid #a800ea;
  margin-top: 2em;
  text-align: center;
  font-size: 0.8em;
}

.main-navigation li {
  display: inline;
  margin-left: 1em;
}

ul.posts {
  list-style: none;
  margin-left: 0;
}

.posts span {
  display: inline-block;
  width: 170px;
  padding-right: 1em;
  text-align: right;
}

.posts a {
 width: 65%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
