/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-size: 22px;
  line-height: 32px;
  font-family: ff-meta-web-pro, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: normal;
}

h1 {font-size: 48px;}
h2, h3 {font-size: 32px;}


h1, h2, h3, h4, h5 {line-height: 64px;}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}


.container {
  max-width: 750px;
  margin: 0px auto;
}

ul {
  margin-left: 1.5em;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
