---
layout: default
fulltitle: Allen Pike, pixel crafter
isHome: true
---

<div id="home">
  <p>Hi, I'm <a href='/me/'>Allen Pike</a>. I run <a href='http://www.steamclock.com/'>Steamclock</a>, where we design and develop polished apps in beautiful Vancouver. At least monthly, I write an article and publish it here.</p>

    {% for post in site.posts limit: 12 %}

    <hr />

{% if post.link %}<i>{% endif %}
  <h1><a href='{{ post.url }}'>{{ post.title }}</a>
    {% if post.link %}<a href="{{ post.link }}">→</a>{% endif %}</h1>
{% if post.link %}</i>{% endif %}
    <p><span class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
        
    <div class="post">
    {{ post.content }}
    </div>

    <p class='permalink'><a href='{{ post.url }}'>∞</a></p>

    {% endfor %}
  </ul>

  <h2><a href='/archive/'>Archive of all articles →</a></h2>
</div>