---
layout: default
fulltitle: Allen Pike, pixel crafter
title: Allen Pike, pixel crafter
isHome: true
summary: Allen Pike writes about making nice software, building teams, and other tricky things.
---

<div id="home">
  <p>Hi, I'm <a href='/me/'>Allen Pike</a>. I run <a href='http://www.steamclock.com/'>Steamclock</a>, where we design and develop nice apps in beautiful Vancouver. At least monthly, I write an article and publish it here.</p>

    {% for post in site.posts limit: 12 %}

    <hr />

  <h1><a href='{{ post.url }}'>{{ post.title }}</a>
  {% if post.link %}<a class="link" href="{{ post.link }}">→</a>{% endif %}</h1>

    <p><span class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
    {% if post.summary %}<p class="summary">{{ post.summary }}</p>{% endif %}
        
    <div class="post">
    {{ post.content | strip_html | truncatewords: 50 }}
    <p><a href='{{ post.url }}'>{{ post.content | reading_time }} read →</a></p>
    </div>

    {% endfor %}
  </ul>
  <hr class="subtle">
  <h2><a href='/archive/'>Explore more articles →</a></h2>
</div>