---
layout: default
fulltitle: Allen Pike, pixel crafter
title: Allen Pike, pixel crafter
isHome: true
summary: Allen Pike writes about making nice software, building teams, and other tricky things.
---

<div id="home">
  <p>Hi, I'm <a href='/me/'>Allen Pike</a>. I’m currently building <a href="https://forestwalk.ai">a new product startup</a> in Vancouver, hosting <a href='https://itshipped.fm'>It Shipped That Way</a>, and writing monthly about what I‘m learning.</p>

    {% for post in site.posts limit: 12 %}

      {% include excerpt.html %}

    {% endfor %}
  </ul>
  <hr class="subtle">
  <h2><a href='/archive/'>Explore more articles →</a></h2>
</div>
