<!-- post_excerpt -->
<hr />


{% if post.link %}<h2>Link: <a href='{{ post.url }}'>{{ post.title }}</a></h2>

  <p><span class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
  {% if post.summary %}<p class="summary">{{ post.summary }}</p>{% endif %}
      
  <div class="post">
  {{ post.content }}
  </div>
{% else %}<h1><a href='{{ post.url }}'>{{ post.title }}</a></h1>

  <p><span class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
  {% if post.summary %}<p class="summary">{{ post.summary }}</p>{% endif %}
      
  <div class="post">
  {{ post.content | strip_html | truncatewords: 50 }}
  <p><a href='{{ post.url }}'>{{ post.content | reading_time }} read →</a></p>
  </div>
{% endif %}