img {margin: 0;}
html, body {color: white; font-family: Helvetica, Arial; margin: 0; padding: 0; position: relative; z-index: 5;}
html {background: #ece3c5 url(images/fadeback.png); background-repeat: repeat-x;}
div {margin: 0; padding: 0;}

a:link {color: #ffc94a;}
a:visited {color: #ffd676;}
a:hover {color: #fff0cc;}

#iecomplaint {display: none}

#content a:link {color: #003373;}
#content a:visited {color: #1d4373;}
#content a:hover {color: #ffc94a;}

#warning { background-color: #F2F2F2; color: #666666; padding: 8px;}

#outside {
    position: absolute;
    z-index: 1;
    margin-left: auto; 
    width: 650px; 
    min-height: 100%;
    margin-left: 201px;
    margin-bottom: 0;
}

#inside {
    position: relative;
    min-height: 100%;
    margin-bottom: 25px;
    z-index: 0;
    color: #000;
}
#content {
    background-color: #FCFCFC;
    padding: 33px 50px 50px 50px;
    margin-top: 53px;
    
    line-height: 1.6em;
    font-size: 14px;
    
    border: 1px solid #EEE;

    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;

}



#logo {
    display: block;
    height: 25px;
    position: relative;
    right: -6px;
    top: -4px;
}

#logo h1 {
    visibility: hidden;
}

#header, #footer {
    opacity: 0.9;
    margin-left: 80px;
}

#header {
    z-index: 2;
    position: absolute;
    top: -7px;
}

#footer {
    font-size: 0.95em;
}

#sidebar-content {
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    width: 140px;
    margin-left: 1px;
    line-height: 1.2em;
}

#sidebar-content ul {
    padding: 0px;
    list-style-type: none;
    margin-left: 0px;
    
    padding-top: 0;
    margin-top: 2px;
    margin-bottom: 15px;
}

#sidebar-content h2 {
    font-size: 1.25em;
}

#wrap-left {
    padding-left: 25px;
    margin-top: -16px;
}

#sidebar-foot {
    background-position: 0px -294px;
    background-repeat: repeat-x;
    width: 140px;
    padding-right: 25px;
    height: 50px;
    padding-top: 2px;
    font-size: 0.75em;
}

#sidebar {
    background-image: url(images/sidebar2009.png);
    background-position: 2px -7px;
    background-repeat: no-repeat;
    border-right: 1px solid #EEE;
    text-align: right;
    margin-left: 10px;
    position: fixed;
    padding-bottom: 20px;
}

li.division {margin-bottom: 10px;}

#sidebar-head hr {
    border-top: 1px solid #CCC;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    opacity: 0.5;
}

#slogan {
    float: right;
    margin-top: -1.5em;
}

#page {
    margin-left: auto; 
    margin-right: auto;
    width: 915px;
}

div.postentry p img {
    border: 1px solid #CCCCCC; 
    margin: -19px 0px 8px 14px;
    float: right;
}
        
.postmeta {font-size: 0.85em; color: #222;}


h2 {font-size: 1.2em; padding-top: 4px;}
h2.posttitle a:link, h2.posttitle a:visited  {text-decoration: none;}
h2.posttitle a:hover {text-decoration: underline;}

blockquote {border-left: 2px dotted #CCCCCC; margin-left: 0.8em; padding-left: 0.8em;}

a img {border: 0;}

#s {width: 120px;}

#commentform textarea {width: 100%;}

.date {
    float: right;
    color: #777;
    font-weight: bold;
    }
    
img:not([alt]) {border: 1px solid red;}

.footnotes {font-size: 0.9em; color: #333;}

.comment-meta, .postfeedback {font-size: 0.8em; color: #333;}

#commentlist li {border-bottom: 1px dotted #ffc94a;}

.postfeedback {text-align: right;}

.date-box {
    float: right;
    width: 150px;
    background-color: #ece3c5;
    border: 1px solid #CCC;
    margin: 0;
    text-align: center;
    line-height: 0.9em;
    padding: 4px 0px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}
.date-box p {margin: 0;}
.date-minor {font-size: 0.8em; font-color: #333;}
.date-major {font-size: 1.1em; font-weight: bold;}

.post-division {
    border-top: 1px dotted #ffc94a;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

#more { font-size: 0.8em };
    
}