img {margin: 0;}
html, body {color: white; font-family: Helvetica, Arial; margin: 0; padding: 0; position: relative; z-index: 5;}
html {background: #ece3c5 url(images/fadeback.png); background-repeat: repeat-x;}
div {margin: 0; padding: 0;}

#header h1 {display: none;}

a:link {color: #ffc94a;}
a:visited {color: #ffd676;}
a:hover {color: #fff0cc;}

#iecomplaint {display: none}

#content a:link {color: #003373;}
#content a:visited {color: #1d4373;}
#content a:hover {color: #ffc94a;}

#outside {
    position: absolute;
    z-index: -1;
    top: 0; 
    margin-left: auto; 
    width: 650px; 
    min-height: 100%;
    padding-left: 40px;
    margin-bottom: 0;
}
#inside {
    background-color: #FCFCFC;
    border-right: 2px solid #CCC;
    border-left: 2px solid #CCC;
    padding-left: 35px;
    padding-right: 60px;
    padding-bottom: 40px;
    position: relative;
    min-height: 100%;
    z-index: 0;
    color: #000;
}
#content {
    padding: 60px 20px 10px 20px;
    line-height: 1.4em;
}

#header {
    background: url(images/edge_sprites.png);
    background-position: left -178px;
    background-repeat: no-repeat;
    padding-left: 25px;
    width: 508px;
}

#header-wrap {
    background: url(images/edge_sprites.png);
    background-position: right -238px;
    background-repeat: no-repeat;
    padding-right: 20px;
}

#header-content {
    width: 475px;
    padding: 4px;
    font-size: 0.9em;
}

#header-content {
    font-size: 0.8em;
    background: url(images/corners/bottom.png);
    height: 43px;
}

#logo {
    padding-top: 5px;
}

#header, #footer {
    opacity: 0.9;
    margin-left: 80px;
}

#header {
    z-index: 2;
    position: absolute;
    top: -7px;
}

#footer {
    font-size: 0.95em;
}

#sidebar-content {
    float: left;
    clear: left;
    background-image: url(images/corners/sidebar.png);
    background-repeat: repeat-y;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    width: 200px;
    margin-left: 1px;
    line-height: 1.2em;
    font-size: 0.9em;
}

#sidebar-content ul {
    padding-left: 0px;
    list-style-type: none;
    margin-left: 0px;
}

#sidebar-content h2 {
    font-size: 1.25em;
}

#wrap-left {
    background: url(images/edge_sprites.png);
    background-position: left -0px;
    background-repeat: no-repeat;
    padding-left: 25px;
    width: 225px;
}

#wrap-right {
    background: url(images/edge_sprites.png);
    background-position: right -56px;
    background-repeat: no-repeat;
    padding-right: 20px;
}

#sidebar-head {
    background: url(images/edge_sprites.png);
    background-position: 0px -114px;
    background-repeat: repeat-x;
    width: 200px;
    height: 25px;
    padding-top: 20px;
    text-align: center;
    font-size: 0.95em;
}

#sidebar {
    width: 260px;
    margin-top: 15px;
    margin-left: 660px;
    opacity: 0.92;
    position: fixed;
    bottom: -20px;
    background: url(images/sidebar-end.png);
    background-position: 1px bottom;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

li.division {margin-bottom: 10px;}

#sidebar-head hr {
    border-top: 1px solid #CCC;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    opacity: 0.5;
}

#slogan {
    float: right;
    margin-top: -1.5em;
}

#page {
    margin-left: auto; 
    margin-right: auto;
    width: 915px;
}

div.postentry p img {
    border: 1px solid #CCCCCC; 
    margin: -19px 0px 8px 14px;
    float: right;
}
        
.postmeta {font-size: 0.85em; color: #222;}


h2 {font-size: 1.2em; padding-top: 4px;}
h2.posttitle a:link, h2.posttitle a:visited  {text-decoration: none;}
h2.posttitle a:hover {text-decoration: underline;}

blockquote {border-left: 2px dotted #CCCCCC; margin-left: 0.8em; padding-left: 0.8em;}

a img {border: 0;}

#s {width: 120px;}

#commentform textarea {width: 100%;}

.date {
    float: right;
    color: #777;
    font-weight: bold;
    }
    
img:not([alt]) {border: 1px solid red;}

.footnotes {font-size: 0.9em; color: #333;}

.comment-meta, .postfeedback {font-size: 0.8em; color: #333;}

#commentlist li {border-bottom: 1px dotted #ffc94a;}

.postfeedback {text-align: right;}

.date-box {
    float: right;
    width: 150px;
    background-color: #ece3c5;
    border: 1px solid #CCC;
    margin: 0;
    text-align: center;
    line-height: 0.9em;
    padding: 4px 0px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}
.date-box p {margin: 0;}
.date-minor {font-size: 0.8em; font-color: #333;}
.date-major {font-size: 1.1em; font-weight: bold;}

.post-division {
    border-top: 1px dotted #ffc94a;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

#more { font-size: 0.8em };
    
}