---
layout: page
title: 'Special Series'
---

<p>Some sets of articles build off one another, in narrative or theme.</p>

{%- for tag in collections.tagList -%}
     {% assign tag_title = seriestitles[tag].title | default: tag %}
     {% assign tag_posts = collections[tag] %}
     {% if tag_posts.size < 3 %}
        <!-- Tag too small ({{ tag_posts.size }}): {{ tag_title }} -->
     {% else %}
        <p><a href="/series/{{- tag -}}">{{- tag_title -}}</a> ({{ tag_posts.size }})
         {% if seriestitles[tag].subtitle %}
            <br> {{ seriestitles[tag].subtitle }}
         {% endif %}
     {% endif %}
    </p>
{%- endfor -%}
