<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script type="text/javascript" src="//use.typekit.net/cil6skv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="author" href="https://plus.google.com/115189793104525758622" />

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <ul class="main-navigation">
                <li><a href="{{ root_url }}/">Home</a></li>
                <li><a href="{{ root_url }}/categories/best-of/">Best Of</a></li>
                <li><a href="{{ root_url }}/me/">About Allen</a></li>
                <li><a href="http://www.twitter.com/apike/">@apike</a></li>
              </ul>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Copyright © 2013 Allen Pike
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->


    </body>
</html>
