<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% if page.fulltitle %}
          <title>{{page.fulltitle}}</title>
        {% else %}
          <title>{{ page.title }} - Allen Pike</title>
        {% endif %}

        {% if page.summary and page.image and page.title %}
        <meta property="og:site_name" content="Allen Pike" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
        <meta property="og:image" content="{{ site.baseurl }}{{ page.image }}" />
        <meta property="og:description" content="{{ page.summary }}" />
        
        <meta name="twitter:card"         content="summary" />
        <meta name="twitter:description"  content="{{ page.summary }}" />
        <meta name="twitter:site"         content="@apike" />
        <meta name="twitter:title"        content="{{ page.title }}" />
        <meta name="twitter:image"        content="{{ site.baseurl }}{{ page.image }}" />
        {% endif %}

        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="alternate" type="application/atom+xml" href="/feed/" title="Atom feed">

        <script type="text/javascript" src="//use.typekit.net/cil6skv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="author" href="https://plus.google.com/115189793104525758622" />

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-585700-2', 'auto');
          ga('send', 'pageview');

        </script>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <ul class="main-navigation">
                <li {% if page.isHome %} class="active" {% endif %}>
                  <a href="{{ root_url }}/">Allen Pike</a>
                </li>
                <li {% if page.isArchive %} class="active" {% endif %}><a href="/archive/">Archive</a>
                <li {% if page.isMe %} class="active" {% endif %}>    <a href="{{ root_url }}/me/">About</a>
                </li>
                <li {% if page.isContact %} class="active" {% endif %}><a href="/contact/">Contact</a></li>
                <li {% if page.isSubscribe %} class="active" {% endif %}><a href="/subscribe/">Subscribe</a>
              </ul>
            </div>

                {{ content }}

            <div id='fusionparent'>
              <script type="text/javascript" src="//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=allenpike" id="_fusionads_js"></script>
            </div>

              <ul class="footer">
                <li {% if page.isHome %} class="active" {% endif %}>
                  <a href="{{ root_url }}/">Allen Pike</a>
                </li>
                <li {% if page.isArchive %} class="active" {% endif %}><a href="/archive/">Archive</a>
                <li {% if page.isMe %} class="active" {% endif %}>    <a href="{{ root_url }}/me/">About</a>
                </li>
                <li {% if page.isContact %} class="active" {% endif %}><a href="/contact/">Contact</a></li>
                <li {% if page.isSubscribe %} class="active" {% endif %}><a href="/subscribe/">Subscribe</a>
              </ul>

              <p style="text-align: center; opacity: 0.8; font-size: 0.8em">© Allen Pike. See also <a href="http://www.twitter.com/">Twitter</a> and <a href="http://www.steamclock.com/">Steamclock</a>.</p>

          </div>
        </div> <!-- /container -->
    </body>
</html>
