<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% if page.fulltitle %}
          <title>{{page.fulltitle}}</title>
        {% else %}
          <title>{{ page.title }} - Allen Pike</title>
        {% endif %}
        <meta name="viewport" content="width=600, maximum-scale=1.2" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="alternate" type="application/atom+xml" href="/feed/" title="Atom feed">

        <script type="text/javascript" src="//use.typekit.net/cil6skv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="author" href="https://plus.google.com/115189793104525758622" />

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-585700-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <ul class="main-navigation">
                <li {% if page.isMe %} class="active" {% endif %}>    <a href="{{ root_url }}/me/">Allen Pike</a>
                </li>
                <li {% if page.isHome %} class="active" {% endif %}>
                  <a href="{{ root_url }}/">Articles</a>
                </li>
                <li><a href="http://www.twitter.com/apike/">@apike</a></li>
                <li><a href="http://www.steamclock.com/">Steamclock</a></li>
              </ul>
            </div>

                {{ content }}

                <ul class="footer">
                  <li>© 2013 Allen Pike</li>
                  <li><a href='/feed/'>Subscribe</a></li>
                  <li><a href='http://www.twitter.com/apike/'>Follow</a>
                  <li><a href='mailto:comments@allenpike.com'>Email</a></li>
                </ul>
          </div>
        </div> <!-- /container -->


    </body>
</html>
