---
layout: default
---
<h1><a href='{{ page.url }}'>{{ page.title | widow }}</a>
{% if page.link %}<a class="link" href="{{ page.link }}">→</a>{% endif %}</h1>
{% if page.summary %}<p class="summary">{{ page.summary }}</p>{% endif %}

<p class="meta">{{ page.date | date: "%B %-d, %Y" }} &bull;
{{ content | reading_time }} read</p>

<hr class="subtle">

{% if page.categories.last == "Sarcastic News" %}
	<p class='warning'>This an old, sarcastic news post from when I was in college. I apologise.</p>
{% elsif page.categories.first == "Faith" %}
	<p class='warning'>This an old status update on my web-based game <a href='/engineering-faith/'>Engineering Faith</a>.</p>
{% endif %}

<div class="post">
{{ content }}
</div>

<div id="nextnav">
{% if page.tags.size > 0 %}

{%- capture page_tags -%}
    {%- for tag in page.tags -%}
    		{% assign tag_title = site.data.seriestitles[tag].title | default: tag %}
        <a href="/series/{{ tag }}">{{ tag_title }}</a>
        {% unless forloop.last %} &bull; {% endunless %}
    {%- endfor -%} 
{%- endcapture -%}
{%- assign tags_list = page_tags | split:',' | sort -%}

<p>Part of the series {{ tags_list }}.</p>
{% endif %}
	{% if page.next %}
		<span id="next">← <a href="{{ page.next.url }}">{{page.next.title }}</a></span>
    {% endif %} &nbsp;
    {% if page.previous %}
	<span id="prev"><a href="{{ page.previous.url }}">{{page.previous.title }}</a> →</span>
	{% endif %}
</div>