---
layout: default
---
{% if page.link %}
  <h1><a href='{{ page.link }}'>{{ page.title }} →</a></h1>
{% else %}
  <h1><a href='.'>{{ page.title }}</a></h1>
{% endif %}
<p class="meta">{{ page.date | date: "%B %-d, %Y" }}</p>

{% if page.categories.last == "Sarcastic News" %}
	<p class='warning'>This an old, sarcastic news post from when I was in college. I apologise.</p>
{% elsif page.categories.first == "Faith" %}
	<p class='warning'>This an old status update on my web-based game <a href='/engineering-faith/'>Engineering Faith</a>.</p>
{% endif %}

<div class="post">
{{ content }}
</div>

<div id="nextnav">
	{% if page.next %}
		<span id="next">← <a href="{{ page.next.url }}">{{page.next.title }}</a></span>
    {% endif %} &nbsp;
    {% if page.previous %}
	<span id="prev"><a href="{{ page.previous.url }}">{{page.previous.title }}</a> →</span>
	{% endif %}
</div>