---
layout: default
---
{% assign series_title = site.data.seriestitles[page.tag].title | default: page.tag %}
<div id="home">
  <h1>A Series on {{ series_title }}</h1>
  <p>This could describe the series.</p>
  <hr class="subtle">
  <ul class="posts archive">
    {% for post in site.tags[page.tag] %}
        <li class="
          {% if post.featured %} featured {% endif %}
          {% if post.link %} link {% endif %}
          "><a href="{{ post.url }}">{{ post.title }}</a>

      <span>{% if post.link %}<i><a href="{{ post.link }}">→</a></i>{% elsif post.summary %} &ndash; {{ post.summary }} {% endif %}</span></li>
    {% endfor %}
  </ul>
</div>
