---
layout: default
---
{% assign series = site.data.seriestitles[page.tag] %}
{% assign series_title = series.title | default: page.tag %}
<div id="home">
  <h1>{{ series_title }}: A Series</h1>
  {% if series.subtitle %}
  <p>{{ series.subtitle }}</p>
  {% endif %}
  <hr class="subtle">
    {% assign posts = site.tags[page.tag] | sort: "date" %}
    {% for post in posts %}
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      

      <p>{% if post.link %}<i><a href="{{ post.link }}">→</a></i>{% elsif post.summary %} {{ post.summary }} {% endif %} &bull;
            <span class="meta">{{ post.date | date: "%B %Y" }} &bull;
{{ post.content | reading_time }} read</span></p>
    </p>
    {% endfor %}
  </ul>
</div>
