---
layout: default
---
{% assign series = site.data.seriestitles[page.tag] %}
{% assign series_title = series.title | default: page.tag %}
<div id="home">
  <h1>
    {{ series_title }}: A Series
  </h1>
  {% if series.subtitle %}
  <p>
    {{ series.subtitle }}
  </p>
  {% endif %}
  <hr class="subtle">
  {% assign posts = site.tags[page.tag] | sort: "date" | reverse %}
  {% for post in posts %}
  {% include excerpt.html %}
  {% endfor %}
  </ul>

  {% if page.tag == 'best' %}
  <hr class="subtle">
  <p>
    <em>You've read the best Allen Pike has to offer. If you'd like to read the other stuff, you can visit the <a href="/archive/">archive</a>.</em>
  </p>
  {% endif %}
</div>
