/*


*/

img {margin: 0;}

div { margin: 0; padding: 0;}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
	color: #222;
	font-size: 15px;
    line-height: 1.6em;
}

html, body, input, textarea {
    font-family: "museo-sans-1","museo-sans-2", Verdana, Helvetica, Arial;
	font-weight: 300;
}

html {
    background: #f1f1f1 url(images/paper.jpg);
}

#homelink {
	float: left;
}

#header {
	text-align: right;
}

#header a:link, #header a:visited,
#footer a:link, #footer a:visited 
{
	font-weight: 300;
}

#header h2 {
	font-size: 22px;
}

#content-outside {
}

#page {
    position: relative;
    min-height: 100%;
	width: 510px;
	padding: 30px;
	margin: 0px auto;
	background: url(images/content-back.png);
	background-position: center center;
	background-repeat: repeat-y;
}

a:link, a:visited {
	font-weight: 500;
    color: #004475;
    text-decoration: none;
}

a:visited {
	color: #002440;
}

a:hover {
    color: #073963;
    text-decoration: underline;
}

blockquote {
    border-left: 1px solid rgba(150,150,255,0.2);
    font-family: Georgia, sans-serif;
    margin: 0 1em;
    padding: 0 1em;
}

#header h2 {
    margin: 0;
}

h1, h2 {
    font-weight: normal;
	font-size: 26px;
    margin-top: 0;
}


sup {
    line-height: 0;
    padding: 2px;
}

pre {
    background-color: black;
	color: #4D4;
    overflow-x: auto;
    padding: 10px;
    -webkit-text-size-adjust: none;
    border: 1px solid #202020;
}

/* Content */



#content {
    margin: 0px auto;
}

.post img {
    float: right;
    margin-left: 20px;
	margin-bottom: 20px;
    max-width: 510px;
    height: auto;
}

.post .gallery img, .post .attachment img {
    float: none;
    margin-left: 0px;
}

.leader {
	margin-bottom: 0;
}

h2 {
	margin: 30px 0 10px 0;
}

h2.leftcol  {
	width: 150px;
	text-align: right;
}

span.leftcol {
	float: left;
	text-align: right;
	width: 150px;
	clear:both;
}

.rightcol {
	display: inline-block;
	padding-left: 30px;
	width: 330px;
}

td.leftcol {
	width: 150px;
	padding-right: 30px;
	text-align: right;
	vertical-align: top;
}

.postfeedback {
    text-align: right;
    width: 150px;
    line-height: 1.3em;
}

.post-nav {
	text-align: center;
}

.post-nav .next {
	float: left;
	width: 150px;
	text-align: left;
}

.post-nav .prev {
	float: right;
	width: 150px;
	text-align: right;
}

.post.archive .date-box {
    position: relative;
    top: 22px;
}

.date-major {font-weight: 500;}

p { }

.postentry :last-child {
    margin-bottom: 0;
}

#pagination, #more {
    margin: 20px 40px 0px 40px;
}

/* Footer */

#footer-outside {
    width: 100%;
    bottom: 0;
}

#footer {
    margin: 0px;
	padding: 20px 0px 0px 0;
	text-align: center;
}

#footer ul {
    margin-bottom: 0;
}

/* Content-specific */

.date {float: right;}

.related_post {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.arch > ul {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

.bookmarks ul {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

#search {
    float: right;
}

#search p {
    margin: 0;
}

.contact textarea {
    width: 100%;
}

.contact #send {
    float: right;
}

.contact #yourinfo {
    text-align: right;
    width: 150px;
    margin-left: -200px;
    float: left;
}

.contact #yourinfo p {
    margin-top: 0;
}

.contact #yourinfo input {
    margin-bottom: 2em;
}

.footnotes {
    font-size: 14px;
}

/* Comments */

#commentlist {
    margin-left: 0px;
    margin-top: 30px;
    padding-left: 0;
    list-style-type: none;
}

#commentlist li {
    min-height: 6em;
    padding: 5px 0px;
	clear: both;
}

#comment {
    width: 100%;
    height: 152px;
}

hr {
	border: 0;
	height: 2px;
	background-image: url(images/rule.png);
	background-repeat: repeat-x;
	width: 100%;
}

.post .avatar {
    margin: 5px 5px 0px 0px;
}

#commentform input {
	width: 150px
}

.comment-meta {
    width: 150px;
    max-height: 5em;
    overflow: hidden;
    margin: 14px 30px 20px 0;
    text-align: right;
    float: left;
}

.comment-meta a:link, .comment-meta a:visited {
	font-weight: 300;
}

.comment-meta b a:link, .comment-meta b a:visited {
	font-weight: 500;
}

.comment-meta.final {
    margin-top: 206px;
}

.editlink {
    float: right;
    margin: 0 -115px 0 0;
}

#submit {
    float: right;
	margin-bottom: 30px;
	font-size: 16px;
}

#year-archives {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#year-archives li { 
	display: inline;
}


.wp-caption {
	background-color: rgba(0,0,0,0.1);
	float: right;
	text-align: center;
	padding: 15px 8px;
	float: right;
	margin-left: 20px;
}

.wp-caption img {
	margin: 0;
	float: none;
}
